@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#main {
    height: 100%;
    width: 100%;

}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    /* background-color: orange; */
    height: 85vh;
    width: 100%;

}

.first h5 {
    margin-top: 80px;
    font-size: 25px;
    margin-bottom: 30px;
}

.mainhead {
    font-size: 100px;
    margin-left: -220px;
    line-height: 1;
}

.mainpara {
    width: 40%;
    font-size: 25px;
    margin-left: 400PX;
    margin-top: 50PX;
}

.second {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120%;
    width: 100%;
    /* background-color: orange; */
}

.second .img1 img {
    height: 100vh;
    width: 90%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    /* background-image: url(./assets/premium_photo-1677186162905-53180e8a3472.avif); */
    background-repeat: no-repeat;
    background-size: cover;
    transition: all ease-in-out 0.5s;
    margin-left: 5%;
}

.second .img1 img:hover {
    scale: 1.05;
}

.third {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
}

.third .mainhead {
    margin-left: 25%;
}

.fourth {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
    height: 100vh;
    width: 100%;

}

.fourth .video {
    height: 100%;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}

.fourth .video video {
    height: 124%;
    width: 101%;
}

.fifth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 150px;
    height: 100%;
    width: 100%;
    background-color: rgb(230, 243, 248);
}

.sixth {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 200%;
    width: 100%;
    /* background-color: orange; */
}

.sixth #left {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
    /* background-color: black; */
    height: 80%;
    width: 40%;
}

.sixth #left .co1 {
    height: 650px;
    width: 650px;
    /* background-color: white; */
    border-radius: 20px;
    padding: 20px;

}


.sixth #right {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
    /* background-color: black; */
    height: 80%;
    width: 40%;
}

.sixth #right .co2 {
    height: 650px;
    width: 650px;
    /* background-color: rgb(198, 244, 89); */
    border-radius: 20px;
    padding: 20px;
}

.cardh3 {
    font-weight: 600;
    font-size: 24px;
    color: rgb(0, 0, 0);

}

.cardh3:hover{
    color: rgb(129, 125, 125);
}

.cardp {
    font-size: 50px;

}

.co1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;

}

.co1:hover{
    scale: 1.09;
    color: rgb(88, 87, 87);
}



.co2:hover{
    scale: 1.09;
     color: rgb(88, 87, 87);
}



.co2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;

}

.co1:nth-child(1) {
           background-color: rgb(198, 244, 89);
        transition: all ease-out 0.4s;
}

.co1:nth-child(2) {
    background-color: rgb(138, 216, 192);
     transition: all ease-out 0.4s;
}

.co1:nth-child(3) {

     transition: all ease-out 0.4s;
    background-color: #97cbeb;
}

.co2:nth-child(1) {
    background-color: rgb(156, 183, 235);
    transition: all ease-out 0.4s;
}

.co2:nth-child(2) {
    background-color: rgb(243, 154, 142);
    transition: all ease-out 0.4s;
}


.co2:nth-child(3) {
    background-color: rgb(178, 149, 206);
    transition: all ease-out 0.4s;

}

.seventh{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap:50px;
    height: 70vh;
    width: 100%;
}

.seventhh4{
    font-size: 30px;
    font-weight: 400;
}

.seventh .imagesigne{
    height: 200px;
    width: 250px;
    clip-path: polygon(0 39%, 100% 0, 100% 63%, 0% 100%);
}

.seventh .imagesigne img{
     height: 200px;
    width: 250px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
     height: 20vh;
     width: 100%;
}
.footer .left{
     height: 20vh;
     width: 50%;
     /* background-color: orange; */
}


.footer .right{
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
     height: 20vh;
     width: 50%;
     /* background-color: black; */
     margin-left: 400px;
}

.footer .right h1{
    font-size: 20px;
    font-weight: 400;
    padding-top: 35px;
   
}

.footer .right h1 a{
    color: black;
    text-decoration: none;
}

.footer .right h1 a:hover{
    color: black;
    text-decoration: underline lightslategray;
    font-weight: 600;
}


.footer .left{
     
    display: flex;
    align-items: center;
    justify-content: center;
     height: 20vh;
     width: 50%;
     /* background-color: black; */
    
}


.footer .left h1{
    padding-top:35px ;
    font-size: 20px;
    font-weight: 400;
    margin-left: -280px;
}